/*-__________ Top-level styles __________-*/

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	background: #556;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

#wrapper {
	padding-top: 100px;
}

article {
	width: 30%;
	float: left;
	margin: 20px;
	background: #f1f3ed;
	border-radius: 10px;
	height: 450px;
}


/*-__________ Header styles __________-*/

#main-header {
	background: #2589bd;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid #ace3b3;
	position: fixed;
	width: 100%;
}

#main-header h1 {
	margin: 20px;
	font-weight: bold;
	font-size: 1.7em;
	color: #fff;
	float: left;
}

#main-header a {
	color: #fff;
}

#main-header a:hover {
	color: #ace3b3;
}

nav ul {
	list-style-type: none;
	font-size: 1.5em;
}

nav li {
	margin: 20px 50px;
	float: right;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}





